/* --------------------
| 0. Manifest          |
--------------------- */
manifest {
    name = 'drug-discovery-protocol-orchestrator-nf'
    description = 'Drug Discovery Orchestrator'
    mainScript = 'main.nf'
    version = "1.0.0"
}

/* --------------------
| 1. Parameters        |
--------------------- */

includeConfig 'conf/customised_pipeline_resources.config'

// NOTE:
// Initialise the values of the params to the preferred default value or to false
params {
    // debugging and message verbosity options
    debug = false

    raci_owner = "Lifebit"
    domain_keywords = "Omics"
    unique_identifier = "abcd123"

    // input options
    reference_data_bucket = "s3://lifebit-featured-datasets"
    input = false
    reference_data = false

    // cloudos common options
    cloudos_url = false
    cloudos_workspace_id = false
    cloudos_api_key = false
    cloudos_queue_name = "lifebit_platform_system_app_f_application_queue"

    // end-to-end target identification steps
    step_1 = true
    step_2 = false
    step_3 = false
    step_4 = false
    step_5 = false
    step_6 = false

    // step_1a_identify_genetic_associations_phenofile
    step_1a_identify_genetic_associations_phenofile_cloudos_workflow_name = "lifebit-platform-phenofile-retrieval"
    step_1a_identify_genetic_associations_phenofile_cloudos_job_name = "step_1a_identify_genetic_associations_phenofile:${params.pheno_label}"
    step_1a_identify_genetic_associations_phenofile_cloudos_cost_limit = false
    step_1a_identify_genetic_associations_phenofile_cloudos_instance_disk_space = false
    step_1a_identify_genetic_associations_phenofile_cloudos_nextflow_profile = false
    step_1a_identify_genetic_associations_phenofile_cloudos_instance_type = false
    step_1a_identify_genetic_associations_phenofile_cloudos_wait_time = false
    step_1a_identify_genetic_associations_phenofile_covariate_specification = "${params.reference_data_bucket}/pipelines/etl_omop2phenofile/covariate_specs_age_sex.json"
    step_1a_identify_genetic_associations_phenofile_sql_specification = "${params.sql_specification}"
    step_1a_identify_genetic_associations_phenofile_database_host = false
    step_1a_identify_genetic_associations_phenofile_database_port = false
    step_1a_identify_genetic_associations_phenofile_database_username = false
    step_1a_identify_genetic_associations_phenofile_database_password = false
    step_1a_identify_genetic_associations_phenofile_database_cdm_schema = "${params.omop_database_schema_name}"
    step_1a_identify_genetic_associations_phenofile_database_cohort_schema = false
    step_1a_identify_genetic_associations_phenofile_database_dbms = false
    step_1a_identify_genetic_associations_phenofile_database_name = false
    step_1a_identify_genetic_associations_phenofile_genotypic_linking_table = false
    step_1a_identify_genetic_associations_phenofile_genotypic_id_col = false
    step_1a_identify_genetic_associations_phenofile_original_id_col = false
    step_1a_identify_genetic_associations_phenofile_codelist_specification = false
    step_1a_identify_genetic_associations_phenofile_pheno_label = "${params.pheno_label}"
    step_1a_identify_genetic_associations_phenofile_phenofile_name = "phenofile"
    step_1a_identify_genetic_associations_phenofile_include_descendants = false
    step_1a_identify_genetic_associations_phenofile_quantitative_outcome_concept_id = false
    step_1a_identify_genetic_associations_phenofile_quantitative_outcome_occurrence= "last"
    step_1a_identify_genetic_associations_phenofile_control_index_date = "observation_period_end"
    step_1a_identify_genetic_associations_phenofile_case_cohort_json = false
    step_1a_identify_genetic_associations_phenofile_control_cohort_json = false
    step_1a_identify_genetic_associations_phenofile_create_controls = true
    step_1a_identify_genetic_associations_phenofile_controls_to_match = 4
    step_1a_identify_genetic_associations_phenofile_min_controls_to_match = 0
    step_1a_identify_genetic_associations_phenofile_match_age_tolerance = 2
    step_1a_identify_genetic_associations_phenofile_match_on_age = true
    step_1a_identify_genetic_associations_phenofile_match_on_sex = true
    step_1a_identify_genetic_associations_phenofile_input_folder_location = false
    step_1a_identify_genetic_associations_phenofile_genotypic_linking_table = false
    step_1a_identify_genetic_associations_phenofile_preprocess_list_and_linking = false

    // step_1b_identify_genetic_associations_gwas
    step_1b_identify_genetic_associations_gwas_cloudos_workflow_name = "gwas-nf"
    step_1b_identify_genetic_associations_gwas_cloudos_job_name = "step_1b_identify_genetic_associations_gwas:${params.pheno_label}"
    step_1b_identify_genetic_associations_gwas_cloudos_cost_limit = false
    step_1b_identify_genetic_associations_gwas_cloudos_instance_disk_space = false
    step_1b_identify_genetic_associations_gwas_cloudos_nextflow_profile = false
    step_1b_identify_genetic_associations_gwas_cloudos_instance_type = false
    step_1b_identify_genetic_associations_gwas_cloudos_wait_time = 20000
    step_1b_identify_genetic_associations_gwas_genotype_format = 'bgen'
    step_1b_identify_genetic_associations_gwas_genotype_files_list = 's3://lifebit-user-data-26b5dd54-e417-4e2f-9f5b-8f6a5422f0ef/deploit/teams/62c5ca77577efc01458b949b/users/635aaca4bd3645015c8cb5e4/dataset/6501b2957484579dc4cff197/gel_masked_bgen_design_file.csv'
    step_1b_identify_genetic_associations_gwas_genome_build = 'GRCh38'
    step_1b_identify_genetic_associations_gwas_annotate_with_rsids = true
    step_1b_identify_genetic_associations_gwas_king_reference_data = "${params.reference_data_bucket}/pipelines/gwas-nf/ancestry_ref/KGref.{bed,bim,fam}.xz"
    step_1b_identify_genetic_associations_gwas_high_LD_long_range_regions = "${params.reference_data_bucket}/pipelines/bi-gwas-nf/high-LD-regions-hg38-GRCh38.txt"
    step_1b_identify_genetic_associations_gwas_rsid_cpra_table = "${params.reference_data_bucket}/pipelines/omics/rsid_cpra_GRCh38_conv.txt"
    step_1b_identify_genetic_associations_gwas_saige = false
    step_1b_identify_genetic_associations_gwas_regenie = true
    step_1b_identify_genetic_associations_gwas_run_pca = false
    step_1b_identify_genetic_associations_gwas_pheno_data = false
    step_1b_identify_genetic_associations_gwas_phenotype_colname = "${params.step_1a_identify_genetic_associations_phenofile_pheno_label}"
    step_1b_identify_genetic_associations_gwas_mind_threshold = 1
    step_1b_identify_genetic_associations_gwas_miss = 1
    step_1b_identify_genetic_associations_gwas_miss_test_p_threshold = 0.5
    step_1b_identify_genetic_associations_gwas_sex_check = false
    step_1b_identify_genetic_associations_gwas_remove_related_samples = false
    step_1b_identify_genetic_associations_gwas_reference_data_bucket = "${params.reference_data_bucket}"

    // step_1c_identify_genetic_associations_harmonisation
    step_1c_identify_genetic_associations_harmonisation_cloudos_workflow_name = "gwas-sumstats-harmonisation-nf"
    step_1c_identify_genetic_associations_harmonisation_cloudos_job_name = "step_1c_identify_genetic_associations_harmonisation:${params.pheno_label}"
    step_1c_identify_genetic_associations_harmonisation_cloudos_cost_limit = false
    step_1c_identify_genetic_associations_harmonisation_cloudos_instance_disk_space = false
    step_1c_identify_genetic_associations_harmonisation_cloudos_nextflow_profile = false
    step_1c_identify_genetic_associations_harmonisation_cloudos_instance_type = false
    step_1c_identify_genetic_associations_harmonisation_cloudos_wait_time = 20000
    step_1c_identify_genetic_associations_harmonisation_input = false
    step_1c_identify_genetic_associations_harmonisation_gwas_source = 'gwas_table'
    step_1c_identify_genetic_associations_harmonisation_input_type = "single"
    step_1c_identify_genetic_associations_harmonisation_standardise = true
    step_1c_identify_genetic_associations_harmonisation_coef_conversion = true
    step_1c_identify_genetic_associations_harmonisation_keep_intermediate_files = true
    step_1c_identify_genetic_associations_harmonisation_filter_beta_smaller_than = -0.3
    step_1c_identify_genetic_associations_harmonisation_filter_beta_greater_than = 0.3
    step_1c_identify_genetic_associations_harmonisation_filter_LP_smaller_than = 0.3
    step_1c_identify_genetic_associations_harmonisation_filter_freq_smaller_than = 0.3
    step_1c_identify_genetic_associations_harmonisation_filter_freq_greater_than = 0.8
    step_1c_identify_genetic_associations_harmonisation_convert_to_hail = false
    step_1c_identify_genetic_associations_harmonisation_dbsnp = 155
    step_1c_identify_genetic_associations_harmonisation_reference_data_bucket = "${params.reference_data_bucket}"

    // step_2_identify_prioritised_genes
    step_2_identify_prioritised_genes_cloudos_workflow_name = "variant-to-gene-mapping-nf"
    step_2_identify_prioritised_genes_cloudos_job_name = "step_2_identify_prioritised_genes:${params.pheno_label}"
    step_2_identify_prioritised_genes_cloudos_cost_limit = false
    step_2_identify_prioritised_genes_cloudos_instance_disk_space = false
    step_2_identify_prioritised_genes_cloudos_nextflow_profile = false
    step_2_identify_prioritised_genes_cloudos_instance_type = false
    // can be individually specified, but default will all use the same queue
    step_2_identify_prioritised_genes_cloudos_wait_time = 9000
    step_2_identify_prioritised_genes_variant_to_gene_git_tag = "dev"
    step_2_identify_prioritised_genes_variant_to_gene_gcta_smr = true
    step_2_identify_prioritised_genes_variant_to_gene_closest_genes = false
    step_2_identify_prioritised_genes_variant_to_gene_metaxcan = false
    // GRCh37
    step_2_identify_prioritised_genes_variant_to_gene_gwas_vcf = false
    step_2_identify_prioritised_genes_variant_to_gene_plink_data = "${params.reference_data_bucket}/pipelines/downstream-omics/1000G_plink_by_pop/1000G_spopEUR.{bed,bim,fam}"
    step_2_identify_prioritised_genes_variant_to_gene_besd_data = "${params.reference_data_bucket}/pipelines/downstream-omics/joint-xqtl/xQTL_data/eQTL/cage_eqtl_data_lite_hg19/CAGE.sparse.lite.{besd,epi,esi}"
    step_2_identify_prioritised_genes_variant_to_gene_diff_freq_prop = 0.3

    // step 3: identify causal genes and pathways
    step_3_identify_causal_genes_and_pathways_cloudos_workflow_name = "joint-xqtl"
    step_3_identify_causal_genes_and_pathways_cloudos_job_name = "step_3_identify_causal_genes_and_pathways:${step_3_identify_causal_genes_and_pathways_cloudos_workflow_name}"
    step_3_identify_causal_genes_and_pathways_cloudos_cost_limit = false
    step_3_identify_causal_genes_and_pathways_cloudos_instance_disk_space = false
    step_3_identify_causal_genes_and_pathways_cloudos_nextflow_profile = false
    step_3_identify_causal_genes_and_pathways_cloudos_instance_type = "c5.xlarge"
    step_3_identify_causal_genes_and_pathways_cloudos_wait_time = 20000
    step_3_identify_causal_genes_and_pathways_joint_xqtl_gwas_vcf = false
    step_3_identify_causal_genes_and_pathways_joint_xqtl_ld_ref_data = "${params.reference_data_bucket}/pipelines/downstream-omics/1000G_plink_by_pop/1000G_spopEUR.{bed,bim,fam}"
    step_3_identify_causal_genes_and_pathways_joint_xqtl_besd_list = "${params.reference_data_bucket}/pipelines/downstream-omics/joint-xqtl/testdata/full_test_besd_list"
    step_3_identify_causal_genes_and_pathways_joint_xqtl_git_tag = "dev"
    step_3_identify_causal_genes_and_pathways_joint_xqtl_reference_data_bucket = "${params.reference_data_bucket}"

    // step 4: identify causal proteins
    step_4_identify_causal_proteins_cloudos_workflow_name = "xQTLbiolinks-nf"
    step_4_identify_causal_proteins_cloudos_job_name = "step_4_identify_causal_proteins:${params.pheno_label}"
    step_4_identify_causal_proteins_cloudos_cost_limit = false
    step_4_identify_causal_proteins_cloudos_instance_disk_space = false
    step_4_identify_causal_proteins_cloudos_nextflow_profile = false
    step_4_identify_causal_proteins_cloudos_instance_type = false
    step_4_identify_causal_proteins_cloudos_wait_time = 9000
    step_4_identify_causal_proteins_xqtlbiolinks_gwas_vcf = false
    step_4_identify_causal_proteins_xqtlbiolinks_git_tag = "dev"
    step_4_identify_causal_proteins_xqtlbiolinks_reference_data_bucket = "${params.reference_data_bucket}"

    // step 5: identify mechanism of action
    // liftover options
    step_5_identify_mechanism_of_action_liftover_cloudos_workflow_name = "liftover-nf"
    step_5_identify_mechanism_of_action_liftover_cloudos_job_name = "step_5_identify_mechanism_of_action_liftover:${params.pheno_label}"
    step_5_identify_mechanism_of_action_liftover_cloudos_cost_limit = 60.0
    step_5_identify_mechanism_of_action_liftover_cloudos_instance_disk_space = 1000
    step_5_identify_mechanism_of_action_liftover_cloudos_nextflow_profile = false
    step_5_identify_mechanism_of_action_liftover_cloudos_instance_type = "c5.xlarge"
    step_5_identify_mechanism_of_action_liftover_cloudos_wait_time = 20000
    step_5_identify_mechanism_of_action_liftover_vcf = false
    step_5_identify_mechanism_of_action_liftover_crossmap_preprocess = true
    step_5_identify_mechanism_of_action_liftover_collapse_multiallelics_in_output = true
    step_5_identify_mechanism_of_action_liftover_reference_fasta_original = false
    step_5_identify_mechanism_of_action_liftover_fasta_index_original = false
    step_5_identify_mechanism_of_action_liftover_fasta_chr_name_map_original = true
    step_5_identify_mechanism_of_action_liftover_reference_fasta_target = false
    step_5_identify_mechanism_of_action_liftover_no_comp_alleles = false
    step_5_identify_mechanism_of_action_liftover_map_warn_pct = 0.95
    step_5_identify_mechanism_of_action_liftover_chunk_size = false
    step_5_identify_mechanism_of_action_liftover_reference_data_bucket = "${params.reference_data_bucket}"
    // finemapping options
    step_5_identify_mechanism_of_action_finemapping_cloudos_workflow_name = "finemapping-nf"
    step_5_identify_mechanism_of_action_finemapping_cloudos_job_name = "step_5_identify_mechanism_of_action:${params.pheno_label}"
    step_5_identify_mechanism_of_action_finemapping_cloudos_cost_limit = 60.0
    step_5_identify_mechanism_of_action_finemapping_cloudos_instance_disk_space = 1500
    step_5_identify_mechanism_of_action_finemapping_cloudos_nextflow_profile = false
    step_5_identify_mechanism_of_action_finemapping_cloudos_instance_type = "c5.xlarge"
    step_5_identify_mechanism_of_action_finemapping_cloudos_wait_time = 20000
    step_5_identify_mechanism_of_action_finemapping_git_tag = "dev"
    // use GRCh37 from GRCh38 liftover
    step_5_identify_mechanism_of_action_finemapping_gwas_vcf = false
    step_5_identify_mechanism_of_action_finemapping_ld_score_weights_annotation_files = "UKB"
    step_5_identify_mechanism_of_action_finemapping_polyfun = true
    step_5_identify_mechanism_of_action_finemapping_polyfun_pvalue_thr = "5e-05"
    step_5_identify_mechanism_of_action_finemapping_reference_data_bucket = "${params.reference_data_bucket}"
    step_5_identify_mechanism_of_action_finemapping_liftover = true
    // cheers options
    step_5_identify_mechanism_of_action_cheers_cloudos_workflow_name = "tissue_enrichment-nf"
    step_5_identify_mechanism_of_action_cheers_cloudos_job_name = "step_5_identify_mechanism_of_action:${params.pheno_label}"
    step_5_identify_mechanism_of_action_cheers_cloudos_cost_limit = false
    step_5_identify_mechanism_of_action_cheers_cloudos_instance_disk_space = false
    step_5_identify_mechanism_of_action_cheers_cloudos_nextflow_profile = false
    step_5_identify_mechanism_of_action_cheers_cloudos_instance_type = false
    step_5_identify_mechanism_of_action_cheers_cloudos_wait_time = false
    step_5_identify_mechanism_of_action_cheers_git_tag = "dev"
    step_5_identify_mechanism_of_action_cheers_trait_name = "CHEERS"
    step_5_identify_mechanism_of_action_cheers_input_snp_type = "polyfun"
    step_5_identify_mechanism_of_action_cheers_input_peaks = "${params.reference_data_bucket}/pipelines/Tissue_enrichment/CHEERS_tissues_references/DHS_counts_normToMax_quantileNorm_euclideanNorm_35ts_grch37.txt"
    step_5_identify_mechanism_of_action_cheers_snp_list = false
    step_5_identify_mechanism_of_action_cheers_PIP = "0.05"
    step_5_identify_mechanism_of_action_cheers_reference_data_bucket = "${params.reference_data_bucket}"

    // step 6: identify candidate drugs
    step_6_identify_candidate_drugs_gsea_cloudos_workflow_name = "geneset-enrichment-analysis-nf"
    step_6_identify_candidate_drugs_gsea_cloudos_job_name = "step_6_identify_candidate_drugs:${step_6_identify_candidate_drugs_gsea_cloudos_workflow_name}"
    step_6_identify_candidate_drugs_gsea_cloudos_cost_limit = false
    step_6_identify_candidate_drugs_gsea_cloudos_instance_disk_space = false
    step_6_identify_candidate_drugs_gsea_cloudos_nextflow_profile = false
    step_6_identify_candidate_drugs_gsea_cloudos_instance_type = false
    step_6_identify_candidate_drugs_gsea_cloudos_wait_time = false
    step_6_identify_candidate_drugs_gsea_git_tag = "dev"
    step_6_identify_candidate_drugs_gsea_summary_stats = false
    step_6_identify_candidate_drugs_gsea_snp_col_name = "SNPID"
    step_6_identify_candidate_drugs_gsea_pval_col_name = "p.value"
    step_6_identify_candidate_drugs_gsea_ref_panel_bed = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.bed"
    step_6_identify_candidate_drugs_gsea_ref_panel_bim = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.bim"
    step_6_identify_candidate_drugs_gsea_ref_panel_fam = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.fam"
    step_6_identify_candidate_drugs_gsea_ref_panel_synonyms = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.synonyms"
    step_6_identify_candidate_drugs_gsea_gene_loc_file = "${params.reference_data_bucket}/pipelines/gwasgsa/testdata/NCBI37.3/NCBI37.3.gene.loc"
    step_6_identify_candidate_drugs_gsea_set_anot_file = "${params.reference_data_bucket}/pipelines/gwasgsa/msigdb/c2.cp.reactome.v7.2.entrez.gmt"
    step_6_identify_candidate_drugs_gsea_reference_data_bucket = "${params.reference_data_bucket}"

    step_6_identify_candidate_drugs_drug2ways_cloudos_workflow_name = "drug-two-ways-nf"
    step_6_identify_candidate_drugs_drug2ways_cloudos_job_name = "step_6_identify_candidate_drugs:${params.pheno_label}"
    step_6_identify_candidate_drugs_drug2ways_cloudos_cost_limit = false
    step_6_identify_candidate_drugs_drug2ways_cloudos_instance_disk_space = false
    step_6_identify_candidate_drugs_drug2ways_cloudos_nextflow_profile = false
    step_6_identify_candidate_drugs_drug2ways_cloudos_instance_type = false
    step_6_identify_candidate_drugs_drug2ways_cloudos_wait_time = false
    step_6_identify_candidate_drugs_drug2ways_git_tag = "dev"
    step_6_identify_candidate_drugs_drug2ways_targets = false
    step_6_identify_candidate_drugs_drug2ways_omnipathr_container = "quay.io/lifebitaiorg/omnipathr-db:v1.1.0-dbdev"
    step_6_identify_candidate_drugs_drug2ways_get_drugs = false
    step_6_identify_candidate_drugs_drug2ways_network = "${params.reference_data_bucket}/pipelines/drug-two-ways/references/drug_target_interactions.tsv"
    step_6_identify_candidate_drugs_drug2ways_sources = "${params.reference_data_bucket}/pipelines/drug-two-ways/references/db_drugs.tsv"
    step_6_identify_candidate_drugs_drug2ways_lmax = 6
    step_6_identify_candidate_drugs_drug2ways_reference_data_bucket = "${params.reference_data_bucket}"

    // output options
    outdir = 'results'
    tracedir = "${params.outdir}/pipeline_info"
    report_dir = "/opt/bin"
    obtain_pipeline_metadata = true

    // when set to true, prints help and exits
    help = false

    // default container for all processes
    main_container = 'quay.io/lifebitaiorg/ubuntu:18.10'
    cloudos_container = 'quay.io/lifebitaiorg/cloudos-cli:v2.6.1'

    // execution related defaults
    config = 'conf/executors/standard.config'
    echo = false
    executor = false

    // google-lifesciences
    gls_bootDiskSize = '50.GB'
    gls_preemptible = true
    zone = 'us-east1-b'
    network = 'default'
    subnetwork = 'default'

    // AWS batch
    aws_region = 'eu-west-1'
    aws_batch_default_queue = "optimal-instance-1tb-ami-on-demand-queue"
    aws_batch_cli_path = '/home/ec2-user/miniconda/bin/aws'
    aws_batch_fetch_instance_type = true
    aws_batch_max_parallel_transfers = 2
    aws_batch_volumes = '/home/ec2-user/.aws:/root/.aws'
}

/* --------------------
| 2. Profiles          |
--------------------- */
profiles {
    standard { includeConfig params.config }
    awsbatch { includeConfig 'conf/executors/awsbatch.config' }
    local { includeConfig 'conf/executors/local.config' }
    docker { docker.enabled = true }
    eu_west_1 { includeConfig 'conf/cloud-region/eu_west_1.config' }
    eu_west_2 { includeConfig 'conf/cloud-region/eu_west_2.config' }
    test_ci_input { includeConfig 'conf/tests/ci/test_ci_input.config' }
    test_full_step_1_identify_genetic_associations { includeConfig 'conf/tests/full/test_full_step_1_identify_genetic_associations.config' }
    test_full_step_2_identify_prioritised_genes { includeConfig 'conf/tests/full/test_full_step_2_identify_prioritised_genes.config' }
    test_full_step_3_identify_causal_genes_and_pathways { includeConfig 'conf/tests/full/test_full_step_3_identify_causal_genes_and_pathways.config' }
    test_full_step_4_identify_causal_proteins { includeConfig 'conf/tests/full/test_full_step_4_identify_causal_proteins.config' }
    test_full_step_5_identify_mechanism_of_action { includeConfig 'conf/tests/full/test_full_step_5_identify_mechanism_of_action.config' }
    test_full_step_6_identify_candidate_drugs { includeConfig 'conf/tests/full/test_full_step_6_identify_candidate_drugs.config' }
    test_full_input { includeConfig 'conf/tests/full/test_full_input.config' }
    singularity { includeConfig 'conf/executors/singularity.config' }
    dockerhub { includeConfig 'conf/containers/dockerhub.config' }
    quay { includeConfig 'conf/containers/quay.config' }
    ecr { includeConfig 'conf/containers/ecr.config' }
    gel { includeConfig 'conf/workspaces/gel.config' }
    gel_staging { includeConfig 'conf/workspaces/gel_staging.config' }
    gel_staging_connect { includeConfig 'conf/workspaces/gel_staging_connect.config' }
}

/* --------------------
| 3. Process           |
--------------------- */
includeConfig 'conf/data/data.config' // Loads in data
includeConfig 'conf/resources.config' // Loads in resources

process {
    queue = params.aws_batch_default_queue
    container = params.main_container

    withLabel: cloudos {
        container = params.cloudos_container
    }
}

/* --------------------
| 4. Executor         |
--------------------- */
// Do not remove this section! Required for running with different executors using --executor parameter
executor {
    name = params.executor
    queueSize = params.queueSize
}

/* --------------------
| 5. Nextflow Extras   |
--------------------- */
// Nextflow timeline, report and trace reports
def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    fields = 'task_id,native_id,process,name,tag,status,exit,cpus,%cpu,memory,%mem,rss,vmem,peak_rss,peak_rss,container'
    file = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
