params  {
    // for omop2phenofile
    database_host = 'clinical-cb-sql-prod.ctr9j8nlfibq.eu-west-1.rds.amazonaws.com'
    database_port = '5432'
    database_username = 'jupyter_notebook'
    database_password = 'ZrBuvJ8n7A'
    database_cdm_schema = 'omop_data_ukb_v1'
    database_cohort_schema = 'public'
    database_dbms = 'postgresql'
    database_name = 'bi_clinical_cb_sql_prod'
    // for gwas
    genotype_format = 'pgen'
    bgen_sample_file = 's3://dhdfukbgudppiprodeuwest1/clean/imputed/ukb22828_c14_b0_v3.sample'
    genotype_files_list = 's3://lifebit-user-data-5a7d4754-1ab9-43d8-874e-1cde539ab64f/deploit/teams/620e2e6159434d3fbd367a75/users/628e6a5646a626013b7cd2e8/projects/63780ee356b6ef01635cbd12/notebook-sessions/639b2d305b5042e7d29d6d9f/ukb_bgen_design_file.csv'
    genome_build = 'GRCh37'
}
