params  {
    // for omop2phenofile
    database_host = 'clinical-cb-sql-prod.ctr9j8nlfibq.eu-west-1.rds.amazonaws.com'
    database_port = '5432'
    database_username = 'jupyter_notebook'
    database_password = 'ZrBuvJ8n7A'
    database_cdm_schema = 'omop_data_ukb_v1'
    database_cohort_schema = 'public'
    database_dbms = 'postgresql'
    database_name = 'bi_clinical_cb_sql_prod'
    // for gwas
    genotype_format = 'bgen'
    bgen_sample_file = 's3://dhdfukbgudppiprodeuwest1/clean/imputed/ukb22828_c14_b0_v3.sample'
    genotype_files_list = 's3://lifebit-user-data-27db6093-9447-448d-9963-a0d70cbb455d/deploit/teams/639085c96a0dda0254432055/users/628e6a5646a626013b7cd2e8/projects/6390a3987c72598dfd9a9715/notebook-sessions/639b3ef55b5042e7d29d84cc/ukb_bgen_design_file.csv'
    genome_build = 'GRCh37'
    saige = false
    regenie = true
}
