params  {
    // for omop2phenofile
    database_host = 'clinical-cb-sql-prod.ctr9j8nlfibq.eu-west-1.rds.amazonaws.com'
    database_port = '5432'
    database_username = 'jupyter_notebook'
    database_password = 'ZrBuvJ8n7A'
    database_cdm_schema = 'omop_data_ukb_v1'
    database_cohort_schema = 'public'
    database_dbms = 'postgresql'
    database_name = 'bi_clinical_cb_sql_prod'
    // for gwas
    genotype_format = 'pgen'
    bgen_sample_file = 's3://dhdfukbgudppiprodeuwest1/clean/imputed/ukb22828_c14_b0_v3.sample'
    genotype_files_list = 's3://lifebit-user-data-d55bdab5-c79c-4ac9-bf36-5c0103ddd309/deploit/teams/620fc193a487941c70e8a2b0/users/6275415a3415d3013a9311f7/projects/637ca36dc26ae30161056d55/notebook-sessions/637ca38ac26ae30161056d57/ukb_bgen_design_file.csv'
    genome_build = 'GRCh37'
}
