params  {
    // for omop2phenofile
    database_host = 'omop-522-db-t3-large.cwn2be1hkiri.eu-west-1.rds.amazonaws.com'
    database_port = '5432'
    database_username = 'panos_cb'
    database_password = '!@#456QWErty'
    database_cdm_schema = 'restrictedrenamed'
    database_cohort_schema = 'public'
    database_dbms = 'postgresql'
    database_name = 'omop'
    // for gwas
    genotype_format = 'pgen'
    genotypic_id_col = 'platekey'
    original_id_col = 'participant_id'
    //bgen_sample_file = 'gs://lifebit-connect-finngen-wl-user-data/deploit/teams/63ef85ad50119701c4abb748/users/63edf67a3584870913bb2700/projects/63ef85f680f6f457bc9b5cda/notebook-sessions/63fcb9736f01e4223d49933f/bgen_sample_file_fgn.csv'
    genotype_files_list = 's3://lifebit-featured-datasets/pipelines/downstream-omics/1000g/GRCh38/pgen/1kg_20_22_pgen.csv'
    genome_build = 'GRCh37'
    saige = false
    regenie = true
    //genotypic_linking_table = 'gs://lifebit-connect-finngen-wl-user-data/deploit/teams/63ef85ad50119701c4abb748/users/63edf67a3584870913bb2700/projects/63ef85f680f6f457bc9b5cda/notebook-sessions/63fcb9736f01e4223d49933f/D86_participant_id_platekey_finngen.csv'
    covariate_specification = 's3://lifebit-featured-datasets/pipelines/etl_omop2phenofile/covariate_specs.json'
    codelist_specification = 's3://lifebit-featured-datasets/pipelines/etl_omop2phenofile/user_codelist.csv'
}
