/*
 * ---------------------------------------------------------------------
 *  lifebit-ai/etl_omop2phenofile config file
 * ---------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile cohortsFromSpec
 */

params  {
    codelistSpecifications    = "s3://lifebit-featured-datasets/pipelines/etl_omop2phenofile/user_codelist.csv"
    covariateSpecifications   = "s3://lifebit-featured-datasets/pipelines/etl_omop2phenofile/covariate_specs.json"
    domain                    = "ConditionOccurrence"
    conceptType               = "sourceConceptId"
    controlIndexDate          = "random"

    database_dbms             = "sqlite"
    database_host             = "omopdb.sqlite"
    database_cohort_schema    = "main"
    database_cdm_schema       = "main"

    max_cpus = 2
}