/*
 * ---------------------------------------------------------------------
 *  lifebit-ai/etl-omop2phenofile config file
 * ---------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile cohortsFromSpec
 */
 
 params  {
    omopDbConnectionDetails   = "testdata/connection_details.json"
    
    cohortSpecifications      = "testdata/user_cohort_specs.json"
    
    covariateSpecifications   = "testdata/covariate_specs.json"
    
    max_cpus = 2
}