params  {
    // for omop2phenofile
    database_host = 'clinical-cb-sql-pro.cfe5cdx3wlef.eu-west-2.rds.amazonaws.com'
    database_port = '5432'
    database_username = 'jupyter_notebook'
    database_password = 'anXReTz36Q5r'
    database_cdm_schema = 'omop_data_100kv13_covidv4'
    database_cohort_schema = 'public'
    database_dbms = 'postgresql'
    database_name = 'gel_clinical_cb_sql_pro'
    genotypic_linking_table    = 's3://lifebit-user-data-4735940a-685a-4fac-bdd1-ed421e2afce2/ deploit/teams/62c5ca77577efc01458b949b/ users/5f182836857c80018ffe28dd/projects/ 6399ff9c270c8b7f9c42c4ee/notebook-sessions/ 6399ffa0270c8b7f9c42c5ca/linking.csv'
    genotypic_id_col           = 'platekey'
    original_id_col            = 'participant_id'


    // for gwas
    genotype_format = 'bgen'
    bgen_sample_file = 's3://512426816668-gel-data-resources/aggregations/gel_mainProgramme/aggV2/genomic/genomic_data/bgen_masked/bgen_mergedbychr/gel_mainProgramme_aggV2_chr10_masked.sample'
    genotype_files_list = 's3://lifebit-user-data-d72cc8d3-548b-4066-ad6d-19413ed107d8/deploit/teams/610560f73b66d80011060723/users/60fe752441b3ec01d1f7fa55/projects/637cecdbc2bed1015b38d62f/notebook-sessions/637cececc2bed1015b38d631/gel_masked_bgen_design_file.csv'
    genome_build = 'GRCh38'
    annotate_with_rsids = true
    king_reference_data = 's3://gel-lifebit-featured-datasets/pipelines/gwas-nf/ancestry_ref/KGref.{bed,bim,fam}.xz'
    high_LD_long_range_regions = 's3://gel-lifebit-featured-datasets/pipelines/bi-gwas-nf/high-LD-regions-hg38-GRCh38.txt'
    rsid_cpra_table = s3://gel-lifebit-featured-datasets/pipelines/omics/rsid_cpra_GRCh38_conv.txt
}
