params  {
    // for omop2phenofile
    database_host = 'clinical-cb-sql-tst.cnt2wlftsbgx.eu-west-2.rds.amazonaws.com'
    database_port = '5432'
    database_username = 'nextflow'
    database_password = 'aneIgWFzc4A9'
    database_cdm_schema = 'omop_data_100kv13_covidv4'
    database_cohort_schema = 'public'
    database_dbms = 'postgresql'
    database_name = 'gel_clinical_cb_sql_tst'
    omop2pheofile_mode        = true

    // for gwas
    genotype_format = 'pgen'
    bgen_sample_file = 's3://512426816668-gel-data-resources/aggregations/gel_mainProgramme/aggV2/genomic/genomic_data/bgen_masked/bgen_mergedbychr/gel_mainProgramme_aggV2_chr10_masked.sample'
    // workspace - lifebit-connect-staging
    genotype_files_list        = 's3://gel-lifebit-featured-datasets/pipelines/downstream-omics/1000g/GRCh38/pgen/1kg_20_22_pgen_gel.csv'
    genotypic_linking_table    = 's3://lifebit-user-data-f204e79e-466c-4d23-922e-681d69be9721/deploit/teams/6101bd4dd0187a001b3a7c6e/users/60c220d04dd6ea01bea4c5ab/projects/64f75b12ca7692438302dfdd/interactive-sessions/650043057484579dc4c7151a/linking/1k_2548_gel_linking_table.csv'
    genotypic_id_col           = 'platekey'
    original_id_col            = 'participant_id'
    genome_build = 'GRCh38'
    annotate_with_rsids = true
    king_reference_data = 's3://gel-lifebit-featured-datasets/pipelines/gwas-nf/ancestry_ref/KGref.{bed,bim,fam}.xz'
    high_LD_long_range_regions = 's3://gel-lifebit-featured-datasets/pipelines/bi-gwas-nf/high-LD-regions-hg38-GRCh38.txt'
    rsid_cpra_table = 's3://gel-lifebit-featured-datasets/pipelines/omics/rsid_cpra_GRCh38_conv.txt'
    saige = false
    regenie = true
    covariate_specification = 's3://gel-lifebit-featured-datasets/pipelines/etl_omop2phenofile/covariate_specs.json'
    run_pca = false
}
