/*
 * ---------------------------------------------------------------------
 *  lifebit-ai/etl-omop2phenofile meta_ci_testing config file
 * ---------------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile meta_ci_testing
 */

docker.enabled = true

 params  {
    database_dbms            = "sqlite"
    database_host            = "omopdb.sqlite"
    database_cohort_schema   = "main"
    database_cdm_schema      = "main"

    high_memory_label_cpus   = 15
    high_memory_label_memory = 60.GB

 }