params  {

    // for omop2pheno
    codelist_specification = "s3://pr-lifebit-henry/user_codelist.csv"
    covariate_specification = "s3://lifebit-featured-datasets/pipelines/etl_omop2phenofile/covariate_specs.json"
    database_dbms             = "postgresql"
    database_host             = "database-2.c6yaeys9uurm.eu-west-1.rds.amazonaws.com"
    database_port             = 5432
    database_username         = "delivery"
    database_password         = "Jr98wBgd5Q2"
    database_name             = "restore_db"
    database_cohort_schema    = "public"
    database_cdm_schema       = "omop_2k"
    omop2pheofile_mode        = true

    // for gwas
    genotype_format = 'pgen'
    genotypic_linking_table = 's3://lifebit-featured-datasets/pipelines/etl_omop2phenofile/genotypic_linking_table/phe_1kg_genotypic_linking_table.csv'
    genotypic_id_col = 'genotypic_id'
    original_id_col = 'phenotypic_id'
    genotype_files_list = 's3://lifebit-featured-datasets/pipelines/downstream-omics/1000g/GRCh38/pgen/1kg_20_22_pgen.csv'
    genome_build = 'GRCh37'
    saige = false
    regenie = true

}