includeConfig '../cloud-region/eu_west_2.config'
params {

    // For GEL Lifebit Connect Staging
    cloudos_url = "https://stg.cloud-os.test.aws.gel.ac"
    cloudos_workspace_id = "6101bd4dd0187a001b3a7c6e"

    step_1 = true
    step_2 = true
    step_3 = true
    step_4 = true
    step_5 = true
    step_6 = true

    step_1a_identify_genetic_associations_phenofile_cloudos_workflow_name = "etl_omop2phenofile"
    step_1a_identify_genetic_associations_phenofile_cloudos_queue_name = "${params.cloudos_queue_name}"
    step_1a_identify_genetic_associations_phenofile_database_host = 'clinical-cb-sql-tst.cnt2wlftsbgx.eu-west-2.rds.amazonaws.com'
    step_1a_identify_genetic_associations_phenofile_database_port = 5432
    step_1a_identify_genetic_associations_phenofile_database_username = 'nextflow'
    step_1a_identify_genetic_associations_phenofile_database_password = 'aneIgWFzc4A9'
    step_1a_identify_genetic_associations_phenofile_database_cohort_schema = 'public'
    step_1a_identify_genetic_associations_phenofile_database_cdm_schema = 'omop_data_100kv13_covidv4'
    step_1a_identify_genetic_associations_phenofile_database_dbms = 'postgresql'
    step_1a_identify_genetic_associations_phenofile_database_name = 'gel_clinical_cb_sql_tst'
    step_1a_identify_genetic_associations_phenofile_covariate_specification = "${params.reference_data_bucket}/pipelines/etl_omop2phenofile/covariate_specs_age_sex.json"
    step_1a_identify_genetic_associations_phenofile_genotypic_linking_table = 's3://512426816668-structured-data/linking-table/v5/gel_participant_phenotypic_genotypic_linking_table_v5.tsv'
    step_1a_identify_genetic_associations_phenofile_genotypic_id_col = 'platekey'
    step_1a_identify_genetic_associations_phenofile_original_id_col = 'participant_id'
    step_1a_identify_genetic_associations_phenofile_input_folder_location = 's3://512426816668-gel-data-resources/aggregations/gel_mainProgramme/aggV2/genomic/genomic_data/bgen_masked/bgen_mergedbychr/'
    step_1a_identify_genetic_associations_phenofile_preprocess_list_and_linking = true

    step_1b_identify_genetic_associations_gwas_cloudos_workflow_name = "lifebit-ai/gwas-nf"
    step_1b_identify_genetic_associations_gwas_cloudos_queue_name = "${params.cloudos_queue_name}"
    step_1b_identify_genetic_associations_gwas_king_reference_data = "${params.reference_data_bucket}/pipelines/gwas-nf/ancestry_ref/KGref.{bed,bim,fam}.xz"
    step_1b_identify_genetic_associations_gwas_high_LD_long_range_regions = "${params.reference_data_bucket}/pipelines/bi-gwas-nf/high-LD-regions-hg38-GRCh38.txt"
    step_1b_identify_genetic_associations_gwas_rsid_cpra_table = "${params.reference_data_bucket}/pipelines/omics/rsid_cpra_GRCh38_conv.txt"
    step_1b_identify_genetic_associations_gwas_reference_data_bucket = "${params.reference_data_bucket}"
    step_1b_identify_genetic_associations_gwas_genotype_files_list = "s3://lifebit-user-data-f20479e-466c-4d23-922e-681d69be9721/deploit/teams/6101bd4dd0187a001b3a7c6e/users/60c220d04dd6ea01bea4c5ab/projects/644a3f4840365adb7302d96c/interactive-sessions/64fafc1f2c484b4272a3ca7a/processed/gel_masked_bgen_design_file.csv"

    step_1c_identify_genetic_associations_harmonisation_cloudos_workflow_name = "gwas-sumstats-harmonisation-nf"
    step_1c_identify_genetic_associations_harmonisation_reference_data_bucket = "${params.reference_data_bucket}"

    step_2_identify_prioritised_genes_cloudos_workflow_name = "variant-to-gene-mapping-nf"
    step_2_identify_prioritised_genes_variant_to_gene_plink_data = "${params.reference_data_bucket}/pipelines/downstream-omics/1000G_plink_by_pop/1000G_spopEUR.{bed,bim,fam}"
    step_2_identify_prioritised_genes_variant_to_gene_besd_data = "${params.reference_data_bucket}/pipelines/downstream-omics/joint-xqtl/xQTL_data/eQTL/cage_eqtl_data_lite_hg19/CAGE.sparse.lite.{besd,epi,esi}"

    step_3_identify_causal_genes_and_pathways_cloudos_workflow_name = "joint-xqtl"
    step_3_identify_causal_genes_and_pathways_joint_xqtl_ld_ref_data = "${params.reference_data_bucket}/pipelines/downstream-omics/1000G_plink_by_pop/1000G_spopEUR.{bed,bim,fam}"
    step_3_identify_causal_genes_and_pathways_joint_xqtl_besd_list = "${params.reference_data_bucket}/pipelines/downstream-omics/joint-xqtl/testdata/full_test_besd_list"
    step_3_identify_causal_genes_and_pathways_joint_xqtl_reference_data_bucket = "${params.reference_data_bucket}"

    step_4_identify_causal_proteins_cloudos_workflow_name = "xQTLbiolinks-nf"
    step_4_identify_causal_proteins_xqtlbiolinks_reference_data_bucket = "${params.reference_data_bucket}"

    // liftover
    step_5_identify_mechanism_of_action_liftover_cloudos_workflow_name = "liftover-nf"
    step_5_identify_mechanism_of_action_liftover_reference_data_bucket = "${params.reference_data_bucket}"
    // finemapping
    step_5_identify_mechanism_of_action_finemapping_cloudos_workflow_name = "finemapping-nf"
    step_5_identify_mechanism_of_action_finemapping_reference_data_bucket = "${params.reference_data_bucket}"
    // cheers
    step_5_identify_mechanism_of_action_cheers_cloudos_workflow_name = "tissue_enrichment-nf"
    step_5_identify_mechanism_of_action_cheers_reference_data_bucket = "${params.reference_data_bucket}"
    step_5_identify_mechanism_of_action_cheers_input_peaks = "${params.reference_data_bucket}/pipelines/Tissue_enrichment/CHEERS_tissues_references/DHS_counts_normToMax_quantileNorm_euclideanNorm_35ts_grch37.txt"

    // gsea
    step_6_identify_candidate_drugs_gsea_cloudos_workflow_name = "geneset-enrichment-analysis-nf"
    step_6_identify_candidate_drugs_gsea_ref_panel_bed = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.bed"
    step_6_identify_candidate_drugs_gsea_ref_panel_bim = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.bim"
    step_6_identify_candidate_drugs_gsea_ref_panel_fam = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.fam"
    step_6_identify_candidate_drugs_gsea_ref_panel_synonyms = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.synonyms"
    step_6_identify_candidate_drugs_gsea_gene_loc_file = "${params.reference_data_bucket}/pipelines/gwasgsa/testdata/NCBI37.3/NCBI37.3.gene.loc"
    step_6_identify_candidate_drugs_gsea_set_anot_file = "${params.reference_data_bucket}/pipelines/gwasgsa/msigdb/c2.cp.reactome.v7.2.entrez.gmt"
    step_6_identify_candidate_drugs_gsea_reference_data_bucket = "${params.reference_data_bucket}"
    // drug2ways
    step_6_identify_candidate_drugs_drug2ways_cloudos_workflow_name = "drug-two-ways-nf"
    step_6_identify_candidate_drugs_drug2ways_network = "${params.reference_data_bucket}/pipelines/drug-two-ways/references/drug_target_interactions.tsv"
    step_6_identify_candidate_drugs_drug2ways_sources = "${params.reference_data_bucket}/pipelines/drug-two-ways/references/db_drugs.tsv"
    step_6_identify_candidate_drugs_drug2ways_reference_data_bucket = "${params.reference_data_bucket}"

}