params {

    // For Main Cloudos Lifebit Internal Production
    reference_data_bucket = "s3://lifebit-featured-datasets"
    cloudos_url = "https://cloudos.lifebit.ai"
    cloudos_workspace_id = "5c6d3e9bd954e800b23f8c62"
    cloudos_queue_name = "end_to_end"

    step_1 = true
    step_2 = false
    step_3 = false
    step_4 = false
    step_5 = false
    step_6 = false

    step_1a_identify_genetic_associations_phenofile_cloudos_workflow_name = "GH_etl_omop_to_phenofile"
    step_1a_identify_genetic_associations_phenofile_database_host = "database-2.c6yaeys9uurm.eu-west-1.rds.amazonaws.com"
    step_1a_identify_genetic_associations_phenofile_database_port = 5432
    step_1a_identify_genetic_associations_phenofile_database_username = "delivery"
    step_1a_identify_genetic_associations_phenofile_database_password = "Jr98wBgd5Q2"
    step_1a_identify_genetic_associations_phenofile_database_cohort_schema = "public"
    step_1a_identify_genetic_associations_phenofile_database_cdm_schema = "omop_2k"
    step_1a_identify_genetic_associations_phenofile_database_dbms = "postgresql"
    step_1a_identify_genetic_associations_phenofile_database_name = "restore_db"
    step_1a_identify_genetic_associations_phenofile_covariate_specification = "${params.reference_data_bucket}/pipelines/etl_omop2phenofile/covariate_specs_age_sex.json"
    step_1a_identify_genetic_associations_phenofile_genotypic_linking_table = "${params.reference_data_bucket}pipelines/downstream-omics/1000g/GRCh38/pgen/omop_2k_1KG_2000_linking_table.csv"
    step_1a_identify_genetic_associations_phenofile_genotypic_id_col = "platekey"
    step_1a_identify_genetic_associations_phenofile_original_id_col = "participant_id"
    step_1a_identify_genetic_associations_phenofile_input_folder_location = "${params.reference_data_bucket}pipelines/downstream-omics/1000g/GRCh38/pgen/"
    step_1a_identify_genetic_associations_phenofile_preprocess_list_and_linking = true

    step_1b_identify_genetic_associations_gwas_cloudos_workflow_name = "drug-discovery-step1a-identify-genetic-associations"
    step_1b_identify_genetic_associations_gwas_king_reference_data = "${params.reference_data_bucket}/pipelines/gwas-nf/ancestry_ref/KGref.{bed,bim,fam}.xz"
    step_1b_identify_genetic_associations_gwas_high_LD_long_range_regions = "${params.reference_data_bucket}/pipelines/bi-gwas-nf/high-LD-regions-hg38-GRCh38.txt"
    step_1b_identify_genetic_associations_gwas_rsid_cpra_table = "${params.reference_data_bucket}/pipelines/omics/rsid_cpra_GRCh38_conv.txt"
    step_1b_identify_genetic_associations_gwas_reference_data_bucket = "${params.reference_data_bucket}"
    step_1b_identify_genetic_associations_gwas_genotype_format = "pgen"
    step_1b_identify_genetic_associations_gwas_genotype_files_list = "${params.reference_data_bucket}pipelines/downstream-omics/1000g/GRCh38/pgen/1kg_1_22_pgen.csv"

    step_1c_identify_genetic_associations_harmonisation_cloudos_workflow_name = "drug-discovery-step1b-harmonise-gwas-summary-statistics"
    step_1c_identify_genetic_associations_harmonisation_reference_data_bucket = "${params.reference_data_bucket}"

    step_2_identify_prioritised_genes_cloudos_workflow_name = "drug-discovery-step2-identify-prioritised-genes"
    step_2_identify_prioritised_genes_variant_to_gene_plink_data = "${params.reference_data_bucket}/pipelines/downstream-omics/1000G_plink_by_pop/1000G_spopEUR.{bed,bim,fam}"
    step_2_identify_prioritised_genes_variant_to_gene_besd_data = "${params.reference_data_bucket}/pipelines/downstream-omics/joint-xqtl/xQTL_data/eQTL/cage_eqtl_data_lite_hg19/CAGE.sparse.lite.{besd,epi,esi}"

    step_3_identify_causal_genes_and_pathways_cloudos_workflow_name = "drug-discovery-step3a-identify-causal-genes-and-pathways"
    step_3_identify_causal_genes_and_pathways_joint_xqtl_ld_ref_data = "${params.reference_data_bucket}/pipelines/downstream-omics/1000G_plink_by_pop/1000G_spopEUR.{bed,bim,fam}"
    step_3_identify_causal_genes_and_pathways_joint_xqtl_besd_list = "${params.reference_data_bucket}/pipelines/downstream-omics/joint-xqtl/testdata/full_test_besd_list"
    step_3_identify_causal_genes_and_pathways_joint_xqtl_reference_data_bucket = "${params.reference_data_bucket}"

    step_4_identify_causal_proteins_cloudos_workflow_name = "drug-discovery-step4-identify-causal-proteins"
    step_4_identify_causal_proteins_xqtlbiolinks_reference_data_bucket = "${params.reference_data_bucket}"

    // liftover
    step_5_identify_mechanism_of_action_liftover_cloudos_workflow_name = "GH_liftover-nf"
    step_5_identify_mechanism_of_action_liftover_reference_data_bucket = "${params.reference_data_bucket}"
    // finemapping
    step_5_identify_mechanism_of_action_finemapping_cloudos_workflow_name = "finemapping-nf-lb"
    step_5_identify_mechanism_of_action_finemapping_reference_data_bucket = "${params.reference_data_bucket}"
    // cheers
    step_5_identify_mechanism_of_action_cheers_cloudos_workflow_name = "drug-discovery-step5-identify-mechanism-of-action"
    step_5_identify_mechanism_of_action_cheers_input_peaks = "${params.reference_data_bucket}/pipelines/Tissue_enrichment/CHEERS_tissues_references/DHS_counts_normToMax_quantileNorm_euclideanNorm_35ts_grch37.txt"
    step_5_identify_mechanism_of_action_cheers_reference_data_bucket = "${params.reference_data_bucket}"

    // gsea
    step_6_identify_candidate_drugs_gsea_cloudos_workflow_name = "step3b-identify-causal-genes-and-pathways"
    step_6_identify_candidate_drugs_gsea_ref_panel_bed = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.bed"
    step_6_identify_candidate_drugs_gsea_ref_panel_bim = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.bim"
    step_6_identify_candidate_drugs_gsea_ref_panel_fam = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.fam"
    step_6_identify_candidate_drugs_gsea_ref_panel_synonyms = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.synonyms"
    step_6_identify_candidate_drugs_gsea_gene_loc_file = "${params.reference_data_bucket}/pipelines/gwasgsa/testdata/NCBI37.3/NCBI37.3.gene.loc"
    step_6_identify_candidate_drugs_gsea_set_anot_file = "${params.reference_data_bucket}/pipelines/gwasgsa/msigdb/c2.cp.reactome.v7.2.entrez.gmt"
    step_6_identify_candidate_drugs_gsea_reference_data_bucket = "${params.reference_data_bucket}"
    // drug2ways
    step_6_identify_candidate_drugs_drug2ways_cloudos_workflow_name = "drug-discovery-step6-identify-candidate-compounds"
    step_6_identify_candidate_drugs_drug2ways_network = "${params.reference_data_bucket}/pipelines/drug-two-ways/references/drug_target_interactions.tsv"
    step_6_identify_candidate_drugs_drug2ways_sources = "${params.reference_data_bucket}/pipelines/drug-two-ways/references/db_drugs.tsv"
    step_6_identify_candidate_drugs_drug2ways_reference_data_bucket = "${params.reference_data_bucket}"

}