params {

    // For Surge 2
    cloudos_url = "https://cloudos.lifebit.ai"
    cloudos_workspace_id = "649d9f59ff72e7cec3377a75"
    reference_data_bucked = "s3://lifebit-featured-datasets"

    step_1 = true
    step_2 = true
    step_3 = true
    step_4 = true
    step_5 = true
    step_6 = true

    step_1a_identify_genetic_associations_phenofile_cloudos_workflow_name = "lifebit-platform-phenofile-retrieval"
    step_1b_identify_genetic_associations_gwas_cloudos_workflow_name = "drug-discovery-step1a-identify-genetic-associations"
    step_1c_identify_genetic_associations_harmonisation_cloudos_workflow_name = "drug-discovery-step1b-harmonise-gwas-summary-statistics"
    step_2_identify_prioritised_genes_cloudos_workflow_name = "drug-discovery-step2-identify-prioritised-genes"
    step_3_identify_causal_genes_and_pathways_cloudos_workflow_name = "drug-discovery-step3a-identify-causal-genes-and-pathways"
    step_4_identify_causal_proteins_cloudos_workflow_name = "drug-discovery-step4-identify-causal-proteins"
    step_5_identify_mechanism_of_action_liftover_cloudos_workflow_name = "drug-discovery-harmonise-genomic-build"
    step_5_identify_mechanism_of_action_finemapping_cloudos_workflow_name = "drug-discovery-finemapping"
    step_5_identify_mechanism_of_action_cheers_cloudos_workflow_name = "drug-discovery-step5-identify-mechanism-of-action"
    step_6_identify_candidate_drugs_gsea_cloudos_workflow_name = "drug-discovery-step3b-identify-causal-genes-and-pathways"
    step_6_identify_candidate_drugs_drug2ways_cloudos_workflow_name = "drug-discovery-step6-identify-candidate-compounds"

    step_1a_identify_genetic_associations_phenofile_database_cdm_schema = 'omop_data'
    step_1a_identify_genetic_associations_phenofile_profile = 'eu_west_2'
    step_1a_identify_genetic_associations_phenofile_genotypic_linking_table = 's3://lifebit-featured-datasets/pipelines/system/prs/test_omop_data_linking_table.csv'
    step_1a_identify_genetic_associations_phenofile_genotypic_id_col = 'platekey'
    step_1a_identify_genetic_associations_phenofile_original_id_col = 'participant_id'
    step_1a_identify_genetic_associations_phenofile_input_folder_location = false
    step_1a_identify_genetic_associations_phenofile_preprocess_list_and_linking = false

    step_1b_identify_genetic_associations_gwas_king_reference_data = "${params.reference_data_bucket}/pipelines/gwas-nf/ancestry_ref/KGref.{bed,bim,fam}.xz"
    step_1b_identify_genetic_associations_gwas_high_LD_long_range_regions = "${params.reference_data_bucket}/pipelines/bi-gwas-nf/high-LD-regions-hg38-GRCh38.txt"
    step_1b_identify_genetic_associations_gwas_rsid_cpra_table = "${params.reference_data_bucket}/pipelines/omics/rsid_cpra_GRCh38_conv.txt"
    step_1b_identify_genetic_associations_gwas_reference_data_bucket = "${params.reference_data_bucket}"
    step_1b_identify_genetic_associations_gwas_genotype_files_list = "s3://lifebit-featured-datasets/pipelines/system/prs/bgen_files_list.csv"

    step_1c_identify_genetic_associations_harmonisation_reference_data_bucket = "${params.reference_data_bucket}"
    step_2_identify_prioritised_genes_variant_to_gene_plink_data = "${params.reference_data_bucket}/pipelines/downstream-omics/1000G_plink_by_pop/1000G_spopEUR.{bed,bim,fam}"
    step_2_identify_prioritised_genes_variant_to_gene_besd_data = "${params.reference_data_bucket}/pipelines/downstream-omics/joint-xqtl/xQTL_data/eQTL/cage_eqtl_data_lite_hg19/CAGE.sparse.lite.{besd,epi,esi}"

    step_3_identify_causal_genes_and_pathways_joint_xqtl_ld_ref_data = "${params.reference_data_bucket}/pipelines/downstream-omics/1000G_plink_by_pop/1000G_spopEUR.{bed,bim,fam}"
    step_3_identify_causal_genes_and_pathways_joint_xqtl_besd_list = "${params.reference_data_bucket}/pipelines/downstream-omics/joint-xqtl/testdata/full_test_besd_list"
    step_3_identify_causal_genes_and_pathways_joint_xqtl_reference_data_bucket = "${params.reference_data_bucket}"


    step_4_identify_causal_proteins_xqtlbiolinks_reference_data_bucket = "${params.reference_data_bucket}"

    // liftover
    step_5_identify_mechanism_of_action_liftover_reference_data_bucket = "${params.reference_data_bucket}"
    // finemapping

    step_5_identify_mechanism_of_action_finemapping_reference_data_bucket = "${params.reference_data_bucket}"
    // cheers
    step_5_identify_mechanism_of_action_cheers_reference_data_bucket = "${params.reference_data_bucket}"
    step_5_identify_mechanism_of_action_cheers_input_peaks = "${params.reference_data_bucket}/pipelines/Tissue_enrichment/CHEERS_tissues_references/DHS_counts_normToMax_quantileNorm_euclideanNorm_35ts_grch37.txt"

    // gsea
    step_6_identify_candidate_drugs_gsea_ref_panel_bed = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.bed"
    step_6_identify_candidate_drugs_gsea_ref_panel_bim = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.bim"
    step_6_identify_candidate_drugs_gsea_ref_panel_fam = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.fam"
    step_6_identify_candidate_drugs_gsea_ref_panel_synonyms = "${params.reference_data_bucket}/pipelines/gwasgsa/reference/g1000_eur/g1000_eur.synonyms"
    step_6_identify_candidate_drugs_gsea_gene_loc_file = "${params.reference_data_bucket}/pipelines/gwasgsa/testdata/NCBI37.3/NCBI37.3.gene.loc"
    step_6_identify_candidate_drugs_gsea_set_anot_file = "${params.reference_data_bucket}/pipelines/gwasgsa/msigdb/c2.cp.reactome.v7.2.entrez.gmt"
    step_6_identify_candidate_drugs_gsea_reference_data_bucket = "${params.reference_data_bucket}"

    // drug2ways
    step_6_identify_candidate_drugs_drug2ways_network = "${params.reference_data_bucket}/pipelines/drug-two-ways/references/drug_target_interactions.tsv"
    step_6_identify_candidate_drugs_drug2ways_sources = "${params.reference_data_bucket}/pipelines/drug-two-ways/references/db_drugs.tsv"
    step_6_identify_candidate_drugs_drug2ways_reference_data_bucket = "${params.reference_data_bucket}"

}
